# Python cache
__pycache__/
*.py[cod]

# Temp files
~*                 
*.tmp

# Environment files
.env
.venv/

# OS-specific
.DS_Store
Thumbs.db

# VS Code temp runner files
tempCodeRunnerFile.py
**/tempCodeRunnerFile.py

# Vector databases
data/chroma_db/
